<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>First Name: <br> <span id="first-name"></span></div>

    <div>Last Name: <br> <span id="last-name"></span></div>

    <script>
        const FirstName = localStorage.getItem('first-name');
        const LastName = localStorage.getItem('last-name');

        document.getElementById('first-name').textContent = FirstName;
        document.getElementById('last-name').textContent = LastName;



    </script>

</body>


</html>