{% extends 'base.html'%}
{% block title%} ABOUT{% endblock title%}

{% block body%}
<h1>Details</h1>



<table>
    <tr>
        <td>Name</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>Reg No:</td>
        <td>{{Reg_no}}</td>
    </tr>
    <tr>
        <td>Branch: </td>
        <td>{{Branch}}</td>
    </tr>
    <tr>
        <td>Calss</td>
        <td>{{Class}}</td>
    </tr>
    <tr>
        <td>Semester: </td>
        <td>{{Semester}}</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>{{Address}}</td>
    </tr>
    <tr>
        <td>District: </td>
        <td>{{Distric}}</td>
    </tr>
    <tr>
        <td>State: </td>
        <td>{{State}}</td>
    </tr>
    <tr>
        <td>Photo: </td>
        <td>{{Photo}}</td>
    </tr>
    <tr>
        <td>Pincode: </td>
        <td>{{Pincode}}</td>
    </tr>
</table>


{% endblock body%}
